body{
    margin: 0;
    padding: 0;
}
/*** Intro ***/
/* Top Nav */
.top-nav{
	padding: 5px 5px;
	text-align: center;
	background: linear-gradient(#30c7ec, #16d9e3); 
	height: auto;
}
.logo-wrapper{
	grid-area: l;
}
.logo{
	float: left;
	border-radius: 20px;
}
.search-box{
	grid-area: c;
	position: relative;
	border-color: transparent;
	background: rgba(255,255,255,0.5);
	border-radius: 38px;
	padding: 10px;
	width: auto;
}
#search{
	border: none;
	background: transparent;
	float: left;
	outline: none;
	width: 80%;
}
.search-btn{
	display: flex;
	float: right;
	justify-content: center;
	align-items: center;
	color: black;
	outline: none;
}
.account{
	grid-area: r;
}
/** Navigation **/
nav{
	background: rgba(0,0,0,0.8);
}
.toggler{
	display: none;
	background: #16d9e3;
}
.navlist{
	list-style: none;
	text-align: left;
}
.navitem{
	display: inline-block;
}
.navlink{
	color: #30c7ec;
	transition: 0.4s;
	margin-right: 1rem;
}
.navlink:hover{
	color: white;
}
.nav-dropdown{
	position: absolute;
	text-align: left;
	display: none;
}
.small-nav-dropdown{
	display: none;
}
.dd-item{
	display: block;
	background: #30c7ec;
	padding: 5px;
	color: rgba(0,0,0,0.8);
	transition: 0.4s;
}
.dd-item:hover{
	background: rgba(0,0,0,0.8);
	color: #30c7ec;
}
.more{
	display: initial;
}
/*** Common Classes ***/
.heading{
	font-family: 'Righteous', cursive;
}
.sub-heading{
	font-family: 'Changa', sans-serif;
	font-size: calc(80% + 15px);
}
.medium-text{
	font-family: 'Baloo 2', cursive;
	font-size: calc(80% + 15px);
}
.small-text{
	font-family: 'Baloo 2', cursive;
	font-size: calc(60% + 10px);
}
.link:hover{
	text-decoration: none;
}
button{
	border: none;
	background: transparent;
}
.center{
	display: flex;
	justify-content: center;
}
.cursor{
	cursor: pointer;
}
/* colors */
.black{
	color: black;
}
.blue-ish{
	color: #30c7ec;
}
/** All Grids **/
.three-secs{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto;
	grid-template-areas: "l c r";
}
/*
  ##Device = Desktops
*/

@media (min-width: 1281px) {
	.droplink:hover .nav-dropdown{
		display: block;
	}
	.small-nav-dropdown{
		display: none;
	}
	/** All Grids **/
	.three-secs{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto;
		grid-template-areas: "l c r";
		text-align: center;
	}
}

/*
##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	.droplink:hover .nav-dropdown{
		display: block;
	}
	.small-nav-dropdown{
		display: none;
	}
	/** All Grids **/
	.three-secs{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto;
		grid-template-areas: "l c r";
	}
}

/*
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
	.droplink:hover .nav-dropdown{
		display: block;
	}
	.small-nav-dropdown{
		display: none;
	}
	/** All Grids **/
	.three-secs{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto;
		grid-template-areas: "l c r";
	}
}

/*
##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.droplink:hover .nav-dropdown{
		display: block;
	}
	.small-nav-dropdown{
		display: none;
	}
	/** All Grids **/
	.three-secs{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto;
		grid-template-areas: "l c r";
	}
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
	.toggler{
		display: block;
	}
	.navlist{
		display: none;
	}
	.small-nav{
		position: relative;
		display: block;
		text-align: left;
		width: 100%;
	}
	.navitem{
		display: block;
	}
	.small-nav-dropdown{
		display: block;
		position: relative;	
	}
	.dd-item{
		background: transparent;
		color: #30c7ec;
	}
	.dd-item:hover{
		background: #30c7ec;
		color: rgba(0,0,0,0.8);
	}

	/** All Grids **/
	.three-secs{
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
		grid-template-areas: "l" "c" "r";
	}
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
	.toggler{
		display: block;
	}
	.navlist{
		display: none;
	}
	.small-nav{
		position: relative;
		display: block;
		text-align: left;
		width: 100%;
	}
	.navitem{
		display: block;
	}
	.small-nav-dropdown{
		display: block;
		position: relative;	
	}
	.dd-item{
		background: transparent;
		color: #30c7ec;
	}
	.dd-item:hover{
		background: #30c7ec;
		color: rgba(0,0,0,0.8);
	}
	/** All Grids **/
	.three-secs{
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
		grid-template-areas: "l" "c" "r";
	}
}